* {
  margin: 5px;
  padding: 5px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
Another way to do 'border' is to place several attributes 
in the same row such as border: double 8px rgb(36, 23, 23); 
*/

h1 {
  color: rgb(43, 102, 36);
  text-align: left;
  background-color: rgb(238, 245, 216);
  border-style: solid;
  border-radius: 15px 45px 45px 15px;
  border-color: rgb(0, 0, 0);
  border-width: 8px;
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 0px 0px;
  display: inline-flex;
}
h2 {
  padding: 15px 0px 20px 0px;
  border-width: 5px 0px;
  font-size: 20px;
  text-align: center;
  border-style: double;
  background-color: rgb(238, 245, 216);
}

.headerphotos {
  text-align: left;
}

table {
  text-align: left;
  text-indent: 15px;
}
table th {
  text-align: center;
}

.pagetop {
  background-color: rgb(255, 255, 255);
}

.header_photo_box {
  border: solid 5px black;
  padding: 5px 20px;
  display: inline-flex;
  margin: 0px;
  background-color: rgb(238, 245, 216);
}
.header_photo {
  padding: 10px;
  background-color: white;
  border: black 3px solid;
  margin: 10px;
}
.find_pet {
  text-align: right;
}
#find_pet_text {
  text-align: right;
  display: inline-flex;
}
.Locator {
  
}
.pagetop {
  display: inline;
}